# Laravel
web/.env
web/vendor/
web/node_modules/
web/storage/*.key
web/storage/logs/
web/bootstrap/cache/

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/android/.gradle/
mobile/android/app/build/
mobile/ios/Pods/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
